.about {
    background: rgb(23,23,23);
    height: 100vh;
}

.about__header {
    color: white;
    position: relative;
    display: inline-block;
    opacity: .35;
    font-size: 15vmin;
    top: 25vh;
    left: -15vw;
    white-space: nowrap;
}

.about__goals {
    color: white;
    opacity: .65;
    font-size: 7.5max;
    font-weight: lighter;
}
