.four-goals-item {
    margin: 0 20px;
    width: 20%;
}

.four-goals-item h3, .four-goals-item p {
    color: white;
}

.four-goals-item h3 {
    font-size: 17px;
}

.four-goals-item p {
    margin-top: 15px;
    line-height: 17px;
    font-size: 14px;
    opacity: 75%;
}


