#intro-container {
    position: relative;
    max-width: min(95%, calc(100% - .75rem));
    margin-top: 10.5rem;
    > div {
        > h2 {
            font-size: clamp(1.9rem, 6.25vw, 3.75rem);
            > h1 {
                font-size: clamp(2.5rem, 13vw, 7.25rem);
            }
        }
        > p {
            font-size: clamp(.9rem, 3.125vw, 1.65rem);
            max-width: 70rem;
        }
        margin-bottom: 7rem;
    }

    > img {
        position: absolute;
        width: min(15vw, 5em);
        aspect-ratio: 1;
        bottom: .75em;
        left: 0;
    }
}

#intro-stats {
    li {
        list-style: none;
    }

    h3, p {
        text-align: right;
    }

    h3 {
        font-size: clamp(1rem, 7vw, 2.5rem);
    }

    p {
        font-size: clamp(.5rem, 4vw, 1.25rem);
        opacity: .625;
    }
}
