.introduction {
    position: relative;
    height: 100%;
    width: 100vw;
    overflow: hidden;
}

.introduction__container {
    position: absolute;
    transform: translate(0, -50%); 
    top: 45%; 
    left: 7.8%;
}

.introduction__name-container, 
.introduction__personal-description {
    cursor: default;
}

.introduction__name-container {
    font-size: 3.75vmin;
    margin-bottom: .93%;
}

.introduction__personal-description {
    font-size: 2.5vmin;
    margin-bottom: 3%;
    width: 52%;
}

.introduction__name {
    white-space: nowrap;
    font-size: 11vmin;
}

$linkedin: #0072b1;

.introduction__connect {
    border: 2px solid;
    padding: 15px 30px;
    background-color: white;
    border-color: $linkedin;
    border-radius: 3px;
    color: $linkedin;
    text-decoration: none;
    font-weight: bold;
    font-size: 22.5px;
    transition: color 0.1s ease-out 0s, 
        background-color 0.1s ease-out 0s;
    cursor: pointer;
}

.introduction__connect:hover {
    color: white;
    background-color: $linkedin;
}

.moreIndicator {
    position: absolute;
    height: 65px;
    width: 65px;
    bottom: 45px;
    right: 40px;
    cursor: pointer;
}

.moreIndicator img {
    height: 100%;
    width: 100%;
}

// screen size
@media screen and (max-height: 930px) {
    .introduction__name-container {
        font-size: 16px;
    }

    .introduction__name {
        font-size: 45px;
        margin-bottom: 10px;
    }

    .introduction__personal-description {
        font-size: 16px;
        width: 86.5%;
        white-space: normal;
        margin-bottom: 25px;
    }

    .introduction__connect {
        border: 1.8px solid;
        font-size: 20px;
    }

    .moreIndicator {
        height: 50px;
        width: 50px;
        bottom: 35px;
        right: 30px;
    }
}
