.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    color: white;
    padding: 0 1.5rem;
    padding-top: 1.25rem;
}

.navbar__title {
    font-size: 1.25rem;
    font-weight: bold;
}

.navbar__links ul {
    display: flex;
}

.navbar__links li {
    list-style: none;
}

.navbar__links li button {
    color: white;
    display: block;
    font-size: .95rem;
    margin-right: .5rem;
    white-space: nowrap;
}

.navbar__links li img {
    margin-right: .35rem; 
}

.navbar__links li button:hover, .navbar__links li img:hover {
    opacity: 75%;
    cursor: pointer;
}

@media (max-width: 600px) {
    .navbar__toggle-button {
        display: flex;
    }

    .navbar__links {
        display: none;
    }
}
