// portfolio page
.portfolio-page {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: blueviolet;
}

// portfolio banner
.portfolio__banner {
    position: absolute;
    transform: translate(0, -50%); 
    top: 14.5%; 
    left: 7.8%;
    white-space: nowrap;
}

.portfolio__banner > span {
    display: inline-block;
    font-size: 7vmin;
    white-space: nowrap;
    opacity: .5;
    padding-right: 1.5%;
    font-weight: bolder;
    bottom: 0%;
    letter-spacing: -0.02em;
}

.portfolio__banner-prev-item {
    transform: translate(-100%, -10%);
    position: absolute;
}

#portfolio__banner-header {
    font-size: 10.5vmin;
    opacity: 1;
}


//  portfolio bar
.portfolio-bar {
    position: absolute;
    height: 58.5vh;
    max-height: 600px;
    width: calc(100vw - 12%);
    top: 57%;
    margin: 0 6%;
    transform: translateY(-50%);
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.portfolio-page__helper {
    position: absolute;
    opacity: .5;
    font-weight: 600;
    font-size: 24px;
    transform: translateX(-50%);
    left: 50%;
    bottom: 9%;
    white-space: nowrap;
}

// screen size
@media screen and (max-height: 930px) {
    .portfolio__banner-prev-item {
        visibility: hidden;
    }

    .portfolio__banner > span {
        visibility: hidden;
    }

    #portfolio__banner-header {
        visibility: visible;
        font-size: 13vmin;
    }

    .portfolio__banner {
        top: 16.5%;
        left: 25px;
    }
}

@media screen and (max-height: 820px) {
    #portfolio__banner-header {
        font-size: 12.5vmin;
    }

    .portfolio__banner {
        top: 20.5%;
        left: 25px;
    }

    .portfolio-bar {
        height: 400px;
    }
}