// portfolio bar entry
.portfolio__bar-entry {
    position: relative;
    display: inline-block;
    height: 100%;
    max-height: 100%;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 15px;
}

.projects__bar-content, .projects__bar-entry-filetype  {
    white-space: normal;
}


.projects__bar-content {
    margin-top: 15px;
    height: 40%;
    font-weight: 500;
}

.projects__bar-content h1 {
    margin: 0 16px;
    margin-bottom: 20px;
    width: 100%;
    height: 74px;
    max-height: 74px;
}

.projects__bar-content p {
    margin: 0 20px;
}

.projects__bar-entry-filetype {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.projects__bar-entry-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 100%;
}

.project__bar-entry-duration {
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: 15px;
}

@media screen and (max-height: 930px) {
    .projects__bar-content h1 {
        font-size: 20px;
        height: 30px;
    }

    .projects__bar-entry-image {
        border-radius: 5px;
        margin-top: 15px;
        width: 250px;
        height: 250px;
    }

    .projects__bar-content p {
        font-size: 15px;
    }
}

@media screen and (max-height: 820px) {
    .projects__bar-entry-image {
        width: 190px;
        height: 190px;
    }
}
