.socials {
    --base-gradient: linear-gradient(to bottom, rgb(255,255,255) , rgb(225,225,225));
    --base-color: rgb(26,26,26);

    
    position: relative;
    background: var(--base-gradient);
    margin-bottom: 0;
    isolation: isolate;
}

.socials-container {
    position: relative;
    padding: 7em 0;
    max-width: min(95%, 100% - 0.75rem);
    margin: 0 auto;
}

.socials-header {
    color: var(--base-color);
    transition: color 700ms ease-out;
}

.social-anchor {
    text-decoration: none;
    color: var(--base-color);
    transition: opacity 700ms ease-out, color 700ms ease-out;
}

.social-button {
    display: flex;
    height: 75px;
    align-items: center;

    border-top: 1px solid var(--base-color);
    border-bottom: 1px solid var(--base-color);
    margin-top: -1px;

    img {
        width: 2.5em;
        margin-right: 1em;
        aspect-ratio: 1;
        -webkit-filter: invert(90%);
        filter: invert(90%);

        transition: all 700ms ease-out;
    }

    h2 {
        font-weight: 600;
        font-size: 1.25rem;
        letter-spacing: .05ch;
    }

    transition: border 700ms ease-out;
}

.socials-buttons {
    max-width: calc(100% - clamp(1em, 10vw, 7.5em));
    margin: 0 auto;
}

.socials-background {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 700ms ease-out;
}

.socials-bar {
    width: 100%;
    background-color: var(--base-color);
    height: 1px;
}