.surface__body {
    background-image: linear-gradient(to bottom left, #2a2a72, #009FFD);;
    height: 100vh;
    overflow: hidden;
}

.surface__info-container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.surface__name, .surface__job-title {
    color: white;
    text-align: center;
}

.surface__info-container > div {
    overflow: hidden;
}

.surface__name {
    animation: showTopText 1s;
    animation-delay: .5s;
    animation-fill-mode: forwards;
    font-size: max(5.5vw, 50px);
    white-space: nowrap;
    top: 0;
    transform: translate(0, -100%);
}

.surface__job-title  {
    animation: showBottomText 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
    white-space: nowrap;
    font-size: max(2.25vw, 20px);
    top: 0;
    transform: translate(0, -100%);
    opacity: 75%;
}

@keyframes showTopText {
    0% { transform: translate3d(0, 100%, 0); }
    100% { transform: translate3d(0, 0, 0); }
  }

  @keyframes showBottomText {
    0% { transform: translate3d(0, -100%, 0); }
    50% { transform: translate3d(0, 0, 0); }
    100% { transform: translate3d(0, 0, 0); }
  }